{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IT Solutions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link href="{% static 'website/img/its-logo.png' %}" rel="icon">
  <link href="{% static 'website/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flexor - v4.7.0
  * Template URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@itsolutions.net.in">info@itsolutions.net.in</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9826037604</span></i>
      </div>   
       <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>         
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
      <a href="home.html">
        <img src="{% static 'website/img/its.png'%}" alt="#" width="200" height="200">
      </a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#About">About</a></li>
          <li><a class="nav-link scrollto" href="#Solutions">Solutions</a></li>
          <li><a class="nav-link scrollto" href="#Softwares">Softwares</a></li>
          <li><a class="nav-link scrollto" href="#Career">Career</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to IT Solutions</h1>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="About" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>About Us</h3>
              <p>
                IT Solutions was incorporated in 1999, IT Solutions provides consultancy and IT services to clients. We are constantly growing to provide this world with a new era of creativity. We use a self -prepared Project Model to accelerate schedules with a high degree of time and cost predictability.
              </p>              
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Technology</h4>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Consult</h4>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Outsource</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="About" class="testimonials">
      <div class="container position-relative" data-aos="fade-up">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">                
                <p>
                  IT Solutions provides end-to-end business solutions that integrate latest technologies. We provide dynamic solutions for a dynamic environment where business and technology strategies lead to success. Our approach focuses to find new ways of business combining IT innovation and adoption while also utilizing an organization's current IT assets.
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">                
                <p>
                  IT Solutions is the premier Solutions and Service provider and known as the fastest growing company. IT Solutions maintains the highest value and reliability rankings among its customers. We serve enterprises through latest technologies and services made possible.
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">                
                <p>
                  IT Solutions invest on high quality and future secured technologies. We constantly work on identifying your business needs and developing innovative solutions that address them completely. We future secure your business by constantly updating you on the latest trends of the digital economy.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
  </section>
      <!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        <div class="section-title" data-aos="fade-up">
          <h2>Authorized Partner of</h2>
        </div>
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'website/img/clients/airtel.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'website/img/clients/cyberoam.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'website/img/clients/hughes.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'website/img/clients/cisco.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'website/img/clients/tally.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'website/img/clients/hp.png' %}" class="img-fluid" alt=""></div>
          </div>
        </div>
        <br>
        <div class="container" data-aos="zoom-out">
          <div class="section-title" data-aos="fade-up">
            <h2>Our Esteemed Clients</h2>
          </div>
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="{% static 'website/img/clients/hydro.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'website/img/clients/adani.png' %}" class="img-fluid" alt=""></div>    
              <div class="swiper-slide"><img src="{% static 'website/img/clients/edenred.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'website/img/clients/gei.jpg' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'website/img/clients/ufo.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'website/img/clients/gd.png' %}" class="img-fluid" alt=""></div>
            </div>
          </div>

      </div>
    </section>
    <!-- End Clients Section -->

    
    <!-- End Services Section -->

    <!-- ======= Values Section ======= -->
    <section id="Solutions" class="values">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Services and Solutions</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url({%static 'website/img/networksol.jpg' %});">
              <div class="card-body">
                <h5 class="card-title">Network Solutions</a></h5>
                <p class="card-text">We are offering Network Solution as per the defined industry standards, which include assembling of various products of different manufacturers' to make a single system.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url({%static 'website/img/vsat.jpg' %});">
              <div class="card-body">
                <h5 class="card-title">V-SAT Solutions</a></h5>
                <p class="card-text">Looking at the technology through which VSAT enable Internet connections, it would be accurate to state that VSAT technology gives an easier to maintain means of Internet connectivity.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card" style="background-image: url({%static 'website/img/utm.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Unified Threat Management</a></h5>
                <p class="card-text">Cyberoam Unified Threat Management appliances, available as hardware and virtual appliances, offer comprehensive security to organizations.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/Connectivity.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Connectivity</a></h5>
                <p class="card-text">From rebuilding and troubleshooting existing networks to building a new domain from the ground up we provide an end to end solution tailored to the needs of each organization while keeping an eye on the bottom line.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/hardwaresol.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Hardware Solutions</a></h5>
                <p class="card-text">We have handled various projects for building and setting up Hardware Solutions, Communication Solutions, Networks, etc. </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/softwaresol.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Software Solutions</a></h5>
                <p class="card-text">IT Solutions has software customization services to match your needs. CTS team has developed the expertise to quickly respond to customer’s changing demands by creating high quality custom implementations.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/websol.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Web Solutions</a></h5>
                <p class="card-text">We develop professional and beautiful websites that reflect the brand of your business or organization. The wide range of services offered by us includes website design and development, customized web application, web hosting, web programming, website redesign etc.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/videosurv.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Video Surveillance (CCTV)</a></h5>
                <p class="card-text">We provides the world class video surveillance systems. The company offer a complete end-to-end video surveillance solution from traditional analog camera based solutions to high-end IP camera based solutions.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/videoconf.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Video Conferencing</a></h5>
                <p class="card-text">IT SOLUTIONS's video conferencing solutions are designed to exceed user expectations with their ease of use and reliability. As a result, our clients find that the video conferencing equipment is used more often, and they enjoy an improved ROI.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/thinclient.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Thin Client (N-Computing)</a></h5>
                <p class="card-text">NComputing is transforming the affordability and sustainability of the global PC experience. There technology turns everyday desktop systems into powerful multi-user platforms for reliable, low-cost, energy-efficient computing.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/datarecov.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Data Recovery</a></h5>
                <p class="card-text">IT SOLUTIONS data recovery Software range includes tools for email recovery, backup recovery and Office file recovery software. you can easily buy online our best selling RecoveryFIXTM range of hard drive data recovery software tools.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/rfid.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Radio Frequency Identification </a></h5>
                <p class="card-text">a wireless system comprised of two components: tags and readers. The reader is a device that has one or more antennas that emit radio waves and receive signals back from the RFID tag.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/ilp.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Internet Leased Port (ILP) / MPLS</a></h5>
                <p class="card-text">IT SOLUTIONS leased line Internet connections provide a dedicated link between your site and our nearest Point of Presence (POP) connecting you to our high performance Internet backbone, providing your business with access to our carrier-grade Internet service.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url({%static 'website/img/timeattend.jpg' %});">
              <div class="card-body">
                <h5 class="card-title"><a href="">Time Attendance and Access Control System</a></h5>
                <p class="card-text">In current scenario where security requirements are becoming stringent, we provide different access control and Identification systems to meet modern security needs.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Values Section -->

    
    <!-- ======= Softwares Section ======= -->
    <section id="Softwares" class="Softwares">
      <div class="container" data-aos="fade-up">                 
        <div class="col">      
      
        <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Our Softwares</h2>
          <p>Infledge Infotech provides end-to-end business solutions that integrate latest technologies. We provide dynamic solutions for a dynamic environment where business and technology strategies lead to success.</p>

        </div>
        <br>
        <br>
        <br>

        <div class="row gy-2">

          <!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'website/img/software/ffms.png' %}" class="img-fluid" alt="">              </div>
                <a href="https://ffmsonline.com/" class="stretched-link">
                  <h3>i Service Force</h3>
                </a>
                <p>Field Force Management System is Online Field Staff and Service call management system.
                </p>
              
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'website/img/software/parking.png' %}" class="img-fluid" alt="">              </div>
                <a href="https://ismartparking.com/" class="stretched-link">
                  <h3>i Smart Parking</h3>
                </a>
                <p>i smart parking, A vehicle parking system that helps drivers find a vacant spot.
                </p>
              
            </div>
          </div><!-- End Service Item -->         


        </div>
      </div>

    </div>
    </section><!-- End Softwares Section -->
    <div class="modal fade" id="apply" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Apply</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
                      <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form>
            
                          <div class="row">
                            <div class="col-md-6 mb-4">
            
                              <div class="form-outline">
                                <input type="text" id="firstName" class="form-control form-control-lg" />
                                <label class="form-label" for="firstName">First Name</label>
                              </div>
            
                            </div>
                            <div class="col-md-6 mb-4">
            
                              <div class="form-outline">
                                <input type="text" id="lastName" class="form-control form-control-lg" />
                                <label class="form-label" for="lastName">Last Name</label>
                              </div>
            
                            </div>
                          </div>        
                          
                            
            
                          <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                <label class="form-label" for="emailAddress">Email</label>
                              </div>
            
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                <label class="form-label" for="phoneNumber">Phone Number</label>
                              </div>
            
                            </div>
                          </div>
            
                          <div class="row">
                            <div class="col-12">
            
                              <select class="select form-control-lg">
                                <option value="1">Software Developer (PHP)</option>
                                <option value="2">Hardware & Networking Engineer</option>
                                <option value="3">Software Developer (PHP)</option>
                                <option value="4">Marketing Executive</option>
                              </select>
                              <label class="form-label select-label">Applying for</label>
            
                            </div>
                          </div>
            
                          <div class="mt-4 pt-2">
                            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                          </div>
            
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
          
        </div>
      </div>
    </div>

    <!-- ======= Pricing Section ======= -->
    <section id="Career" class="Career">
      <div class="container-fluid">
        <div class="row text-center clearfix">
            <div class="section-header">
              <h2>Current Openings</h2>
              <p class="blog-heading">if you'r smart motivated and want something more than a job then have a look at the jobs below.We'd like to meet you.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="modal fade" id="blog-startup" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" style="width:900px !important;">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <img src="startup.jpg" style="height:515px; "> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="single-blog">
              <h2>Software Developer (PHP)</h2>
              <ul class="post-meta">
                <li><i class="fa fa-pencil-square-o"></i><strong> Experience:</strong> 1-2 Years</li>
               <br>
                <li><i class="fa fa-pencil-square-o"></i><strong> Skill Require:</strong> PHP ,ASP.NET(C#.NET,VB.NET)</li>
              </ul>
              <div class="blog-content"> </div>
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#apply">Apply</a> </div>
            <div class="modal fade" id="blog-detail" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-blog">
              <h2>Hardware & Networking Engineer</h2>
              <ul class="post-meta">
                <li><i class="fa fa-pencil-square-o"></i><strong> Experience:</strong> 0-2 Years</li>
                <br>
                <li><i class="fa fa-pencil-square-o"></i><strong> Skill Require:</strong> Trouble shooting,Assembling,Networking</li>

              </ul>
              <div class="blog-content"> </div>
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#apply">Apply</a> </div>
            <div class="modal fade" id="blog-ten" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2>Hardware & Networking Engineer</h2>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-blog">
              <h2>Marketing Executive</h2>
              <ul class="post-meta">
                <li><i class="fa fa-pencil-square-o"></i><strong> Experience :</strong> 0-2 Year</li>
                <br>
                <li><i class="fa fa-pencil-square-o"></i><strong> Skill Require :</strong>For IT, ITES, Telecom and Data Products
                </li>
              </ul>
              <div class="blog-content"> </div>
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#apply">Apply</a> </div>
            <div class="modal fade" id="blog-three" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2>Mobile Application Developer</h2>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="single-blog">
              <h2>Marketing Executive</h2>
              <ul class="post-meta">
                <li><i class="fa fa-pencil-square-o"></i><strong> Experience:</strong> 0-2 Years</li>
                <br>
                <li><i class="fa fa-pencil-square-o"></i><strong> Skill Require:</strong> Back Office for Online Form Filling and Tender Work</li>
              </ul>
              <div class="blog-content"> </div>
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#apply">Apply</a> </div>
            <div class="modal fade" id="blog-two" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>  
        
      </div>
    
    </section><!-- End Pricing Section -->

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Contact</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map" ></i>
              <h3>Our Address </h3>
              <p>S- 5A, 2nd Floor,
                E-3/49, 10 No. Stop,
                Arera Colony, Bhopal</p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@itsolutions.net.in</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9826037604</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
          <div class="col-xl-9 col-lg-12 mt-4">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">  

    <div class="container d-lg-flex py-4">

      <div class="me-lg-auto text-center text-lg-start">       
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://infledge.com/">Infledge Infotech</a>
        </div>
      </div>
      <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/js/main.js' %}"></script>

</body>

</html>